
@{
    ViewData["Title"] = "Plotting";
}

<h1>Index</h1>

<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

<body>
    <div id="scatter"></div>
</body>

<script>

    //## Documentation: https://plotly.com/javascript/3d-scatter-plots/


    //var trace1 = @Html.Raw(Json.Serialize(@ViewBag.Canvas))
    //var data = [trace1];

    data = @Html.Raw(Json.Serialize(@ViewBag.Canvas))

    var gridsettings =
    {
        visible: false,
        showticklabels: false,
        showgrid: false,
        zeroline: false
    };
    var layout =
    {
        title: 'Construction Process Atlas',
        height: 700,
        width: 1200,
        scene:
        {
            mode: "lines + markers",
            aspectmode: "data",
            aspectratio: {x: 1, y: 1, z: 1},
            xaxis: gridsettings,
            yaxis: gridsettings,
            zaxis: gridsettings
        },
    };

    Plotly.newPlot('scatter', data, layout);
</script>

